<!DOCTYPE html><html><head>

    <title>Snapshot.js Example</title>
    <script type="text/javascript" src="../../bower_components/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none !important;}ng\:form{display:block;}</style>
    <script type="text/javascript" src="./js/application.js"></script>
    <script type="text/javascript" src="./js/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="../../bower_components/semantic-ui/build/packaged/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="./css/default.css">

</head>
<body ng-app="app" class="ng-scope">

    <section class="content ng-scope" ng-controller="IndexController">

        <h2 class="ui header ng-binding">
            Displaying 10 of 100,000.
            <div class="sub header ng-binding">Last Snapshot.js operation took ~8 milliseconds.</div>
        </h2>

        <h3 class="ui header ng-binding">
            Pagination (Page 1 of 10,000):
            <div class="ui breadcrumb sub header">
                <a class="section" ng-click="previousPage()">Previous Page</a>
                <div class="divider"> / </div>
                <a class="section" ng-click="nextPage()">Next Page</a>
            </div>
        </h3>

        <h5 class="ui header ng-binding">
            Words Per Page (Currently 10):
            <div class="ui breadcrumb sub header">
                <a class="section" ng-click="perPage(5)">5</a>
                <div class="divider"> / </div>
                <a class="section" ng-click="perPage(10)">10</a>
                <div class="divider"> / </div>
                <a class="section" ng-click="perPage(25)">25</a>
                <div class="divider"> / </div>
                <a class="section" ng-click="perPage(50)">50</a>
                <div class="divider"> / </div>
                <a class="section" ng-click="perPage(100)">100</a>
                <div class="divider"> / </div>
                <a class="section" ng-click="perPage(0)">All</a>
            </div>
        </h5>

        <div class="ui action input">
            <input name="filter" type="text" placeholder="Filter down the collection of words..." ng-model="filter" style="width: 350px;" class="ng-pristine ng-valid">
            <div class="ui buttons">
                <div class="ui blue button" name="btn-filter" ng-click="applyFilter(filter)">
                    <i class="search icon"></i>
                    Apply
                </div>
                <div class="ui grey button" ng-click="clearFilter()">Clear</div>
            </div>
        </div>

        <div class="ui blue message" ng-hide="collection.length" style="display: none; ">
            Please wait a moment whilst Node.js downloads random words from Wordnik…
        </div>

        <table class="ui table sortable segment" ng-show="collection.length" style="">
            <thead>
                <tr>
                    <th ng-click="sortBy('id')" style="width: 175px;">Primary Key</th>
                    <th ng-click="sortBy('word')">Word</th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: model in collection --><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">550674</td>
                    <td class="ng-binding">A-bomb</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">3163567</td>
                    <td class="ng-binding">A-bombs</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">2780646</td>
                    <td class="ng-binding">A-cup</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">1419353</td>
                    <td class="ng-binding">A-lister</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">1419353</td>
                    <td class="ng-binding">A-lister</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">1621614</td>
                    <td class="ng-binding">A-minor</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">2177293</td>
                    <td class="ng-binding">A-okay</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">551105</td>
                    <td class="ng-binding">A-team</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">4107853</td>
                    <td class="ng-binding">AS-levels</td>
                </tr><tr ng-repeat="model in collection" class="ng-scope">
                    <td class="ng-binding">476309</td>
                    <td class="ng-binding">Aalborg</td>
                </tr>
            </tbody>
        </table>

    </section>


</body></html>